.history-tables {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap:30px;
    margin-right: 20px;
}

.history-tables-table {
    flex: 1; 
    
}



.form-container label, .form-container input {
    margin-bottom: 5px;
    color: #333;
    padding-right: 10px;
}

