.homepage-categories{
    
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    
}

.homepage-category-box{
    display: flex;
    justify-content: center;
}


.category-title {
    border-top: 1px solid var(--dark-alice-blue);
    text-align: center;
}

.category-title p {
    font-size: 65px;
}

.homepage-carousel-objects{
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    padding: 5%;
    background-color: #FFFFFF80;
    margin-right: 5%;
}

.homepage-carousel-objects button{
    background-color: var(--indigo-dye);
    color: var(--flax);
    width: 150px;
    height: 50px;
    margin-right: 20px;
    align-self: center;
    border: 1px solid var(--indigo-dye);
    border-radius: 40px;
    font-size: 17px;
    font-family: 'JosefinSans';
    font-weight: bold;
}

.homepage-carousel-objects button:hover{
    background-color: var(--flax);
    color: var(--indigo-dye);
    
}

.homepage-carousel ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 765px) {
    .homepage-carousel-objects{
        position: relative;
        z-index: 100;
        top: none;
        transform: translateY(0);
        left: 0;
        padding: 0;
        background-color: #FFFFFF80;
        margin-right: 0;
        padding-bottom: 30px;
        height: 200px;
    }

    .category-title p {
        font-size: 45px;
    }
    
}